.black,
.yellow{
    font-family: Helvetica, "Times New Roman", sans-serif;
    font-size: 28px;

}

.black{
    color: white;
    background-color: black;
}

.yellow{
    background-color: yellow;
}

img{
    height: auto;
    width: 500px;
}

.avatar.proportioned{
    width: 300px;
}

.avatar.distorted{
    height: 400px;
    width: 200px;
}

.container .text{
    background-color: yellow;
    color: red;
    font-size: 28px;
    text-align: center;
}